h2 {
    font-weight: normal;
    text-shadow: 2px 2px 10px #949494;
}

#red {
    color: red;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

#green {
    color: green;
}

#yellow {
    color: yellow;
}

img {
    height: 200px;
    width: 200px;
}